.banner {
    background: url(https://cdna.artstation.com/p/assets/images/images/055/246/574/large/mirco-cabbia-sciamano240-lin-tower-of-fantasy-1-2.jpg?1666483384) no-repeat center center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 45%;
    color: #fff;
}


